PORT=5000
MONGODB_URL=mongodb://localhost:27017/property-management
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d
NODE_ENV=development
NEXT_PUBLIC_SUPABASE_URL=https://fosbcmqfsmprbuhskfkm.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__Osv9Ngx6Ee8X8qEnnqHEQ_ZsMmLzMx